{% extends 'base.html' %}

{% block head %}
<title>Quiz Game – Homepage</title>
{% endblock %}

{% block body %}
<br>
<h1>Welcome! This is the quiz game.</h1>
<p>This is the homepage for the quizzes. Select your quiz here.</p>

{% if exam_list %}
{% for exam in exam_list %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ exam.exam_title }}</h5>
    <a href="/quizzes/{{ exam.id }}" class="btn btn-primary">Play</a>
  </div>
</div>
{% endfor %}

{% endif %}

{% endblock %}